---
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import Icon from "astro-icon";
import { ViewTransitions } from "astro:transitions";

export async function getStaticPaths() {
  const posts = await getCollection("blogposts");
  return posts.map((entry: CollectionEntry<"blogposts">) => {
    return {
    params: { slug: entry.slug},
    props: { entry }
    };
  });
}

type Props = {
  entry: CollectionEntry<"blogposts">;
};


const { entry } = Astro.props;
const { Content } = await entry.render();


console.log("content", Content);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">

    	<!-- The loading of KaTeX is deferred to speed up page rendering -->
    	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>

		<ViewTransitions>
	</head>
	<body style="background-color: #03002e;" class="text-text flex flex-col min-h-screen" transition:animate="fade">
		<nav style="display: flex; gap: 20px; justify-content: center;" class="flex-row">
			<a href="/" class="flex items-center gap-2">
			  <Icon name="ic:home" class="w-5 h-5" />
			  Home
			</a>
			<a href="/blogposts/" class="flex items-center gap-2" >
			  <Icon name="ic:round-edit-note" class="w-5 h-5" />
			  Posts
			</a>
		  </nav>
		<main class="mx-auto flex-grow overflow-hidden grid gap-5 p-5 w-[95vw]">
			<article class="prose prose-neutral lg:prose-xl dark:prose-invert max-w-none">
x				<Content/>
			  </article>
x		
		</main>
	</body>
</html>

<style is:global>
	*{
		transition: color 350ms ease-in-out;
		font-family: 'Manrope', sans-serif;
		
		
	}

	@media only screen and (max-width: 480px){
		*{
			font-size: 12px;
		}
	}
	nav {
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-top: ; /* Ensures nav is close to the top */
		padding-top: 30px; /* Ensures no extra padding */
  	}
</style>