---
import { getCollection, type CollectionEntry } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Card from "../../components/Card.astro";
import PostCard from "../../components/PostCard.astro";

const posts = await getCollection("blogposts");
---

<BlogLayout>
	<div class="post-wrapper" >
		<h1>Posts</h1>
		<div>
		  {posts.map((p: CollectionEntry<"blogposts">) => <PostCard post={p} />)}
		</div>
	  </div> 
</BlogLayout>