---
import * as CONTENT from "./content"
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from "../components/Navbar.astro";
import Title from "../components/Title.astro"
import SkillCard from "../components/SkillCard.astro"
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nguyen Minh Vu | Portfolio</title>
	</head>
	

	<body class="bg-background text-text flex flex-col min-h-screen">
		<header><Navbar /> </header>

		<main>
			<section class="about">
				<article>
					<p>Hello, I'm Nguyen Minh Vu</p>
					<Title text="AI Engineer"/>
				</article>
			</section>
				
			<section class="skills">
			
					<Title text="About me"/>
					<section>
						<SkillCard title="Education" description="Major in Artificial Intelligence at VNUHCM-University of Science" />
						<SkillCard title="Experience" description="Internship at FPT Software" />
						<SkillCard title="Skills" description="Python, C++, Java, SQL, Machine Learning, Deep Learning, Computer Vision" />
					</section>
			</section>
		</main>
	</body>

</html>

<style>
	* {
		margin: 0;
		padding: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		box-sizing: border-box;
	}

	main {
		
		margin: 50px auto 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(50vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		background-color: #FFEBD4;
	}
	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>