---
import Icon from 'astro-icon'
---

<footer class="bg-background/5 flex flex-col justify-between items-center px-1 py-1">
    

    <p class="flex gap-x-4">
        <a href="https://github.com/Oillim" target="_blank" class="bg-background/5 flex justify-between items-center px-1 py-1">
            <Icon name="mdi:github" class="w-8 h-8 ml-2" />
        </a>
        <a href="https://facebook.com/Oillims" target="_blank" class="bg-background/5 flex justify-between items-center px-1 py-1">
            <Icon name="mdi:facebook" class="w-8 h-8 ml-2" />
        </a>
        <a href="http://linkedin.com/in/Oillim" target="_blank" class="bg-background/5 flex justify-between items-center px-1 py-1">
            <Icon name="mdi:linkedin" class="w-8 h-8 ml-2" />
    </p>
    <p>© 2024 Nguyen Minh Vu. All rights reserved.</p>
</footer>

<style>
    p{
        
        @apply text-sm text-text/50;
    }

    a {
        @apply underline hover:text-text/80;
    }
</style>