---
const {
  title = "Content Collections",
  description = "A site about Content Collections with Astro.",
} = Astro.props;
import { ViewTransitions } from "astro:transitions";
import "../styles/main.css";
import Icon from "astro-icon";
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="text-text flex flex-col min-h-screen" transition:animate="fade">
    <nav style="display: flex; gap: 20px; justify-content: center;" class="flex-row">
			<a href="/" class="flex items-center gap-2">
			  <Icon name="ic:home" class="w-5 h-5" />
			  Home
			</a>
			<a href="/blogposts/" class="flex items-center gap-2">
			  <Icon name="ic:round-edit-note" class="w-5 h-5" />
			  Posts
			</a>
		  </nav>
  
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    /* display: grid;
    align-items: start; 
    align-content: start;
    gap: var(--size-fluid-3); */
    /* grid-template-rows: auto, 1fr; */
    /* min-height: 100vh;
    min-height: 100dvh; */
    padding: 30px;
    /* color: var(--blue-12);
    background-size: cover;
    background-image: linear-gradient(to top, var(--blue-0), var(--stone-0)),
      var(--noise-5); */
    background-color: #03002e;
  }

  main {
    margin-inline: auto;
    max-width: 1500px;
  }

</style>